extends layout

block content
  div.loginSideBar


      h2 USERNAME
      p This will be where the username and trending will go

      div.trending
        h3 Trending
        ul.trendingMinneapolis(ng-repeat="trending in trendingData")
          li {{trending.name}}

  div.savedSideBar
    h2 Saved List


  h1= title
  p this will be where ALL THE CONTENT GOES
  h2 {{mainContent.test}}
  b
  b
  h2 Username: {{username}}
  b

  div.tweetList(ng-repeat="tweet in initialData")
    div.singleTweet
      b
        span.twitterHandle {{tweet.user.name}}
      p
        img.profilePicture(src="{{tweet.user.profile_image_url}}")
      p.tweetcontent {{tweet.text}}
      a(href='{{tweet.entities.urls[0].expanded_url}}') Article Link
      //p {{tweet.entities.media[0].expanded_url}}
      //img(src='{{tweet.entities.media[0].media_url}}')

      p {{tweet.retweet_count}}
    div(infinite-scroll='loadMoreTweets()' infinite-scroll-distance='3')