extends layout

block content


  div.loginSideBar(ng-class='{closedLogin: hideLogin}')
    img.menuButton(ng-click='slideLeft()' src='/images/menu_icon.png')

    div.mainSideBarContent
        if (!user)
            div.emptyUser
                img.blankUser(ng-show='hideData')(src='/images/blank_user.png')
                p(ng-show='hideData') Click below to login with your twitter account and save articles to a reading list.
                br.clearfix
                a.loginButton(ng-show='hideData' ng-click='displayLoading()')(href="/auth/twitter") Twitter Login
                img.loadingSpinner(ng-show='showLoading')(src='/images/ring-alt.svg')

        if (user)
            div.userContent
                img.twitUser(src='#{user.userPic}')
                h3(ng-show='hideData') @#{user.displayName}
                br.clearfix
                a.logoutButton(ng-show='hideData' href="/logout") Logout
                br


        div.trending(ng-show='hideData')
            h3 Trending
            ul.trendingMinneapolis(ng-animate="'animate'" ng-repeat="trending in trendingData")
              li {{trending.name}}

  div.savedSideBar(ng-class='{closedSaved: hideSaved}')
    img.savedListButton(ng-click='openSavedBar()' ng-class='{adjustButton: savedMoved}' src='/images/article_button.png')
    div.fixRight
      h2 Saved List
      div.savedList(ng-animate="'animate'" ng-repeat="item in currentSaveList")
          div.listitem
              p.tweetListItem {{item.tweet}}
              a.readArticle(href="http://www.{{item.article}}" target='_blank') Read!
              a.removeListItem(ng-click='removeTweet($index)') Remove!

  div.headerContent(ng-class="{menuShiftLeft: hideLogin}")
    h1= title
    b

  div.mainTweetContent(ng-class="{menuShiftLeft: hideLogin, menuShiftRight: hideSaved}")
          div.flexContainer(infinite-scroll='loadMoreTweets()')


              div.tweetList(ng-class = "{'{{tweet.style}}': {{tweet.style}}}" ng-repeat="tweet in initialData")

                    h3.twitterHandle {{tweet.user.name}}
                    div.baseTweet
                        b
                        p
                          img.profilePicture(src="{{tweet.user.profile_image_url}}")
                        p.tweetcontent {{tweet.text}}
                        a.linkButton(href='{{tweet.entities.urls[0].expanded_url}}' target='_blank') Article
                        img.mediaPic(src='{{tweet.entities.media[0].media_url}}')
                        a.saveTweetButton(ng-click='saveTweet($index)') save
         div.spacer

