extends layout

block content
  div.loginSideBar
      h2 USERNAME
      p This will be where the username and trending will go

      div.trending
        h3 Trending
        ul.trendingMinneapolis(ng-repeat="trending in trendingData")
          li {{trending.name}}

  h1= title
  p this will be where ALL THE CONTENT GOES
  h2 {{mainContent.test}}
  b
  b
  h2 Username: {{username}}
  b

  div.tweetList(ng-repeat="tweet in initialData")
    div.singleTweet
      b
      p
        img(src="{{tweet.user.profile_image_url}}")
      p {{tweet.user.name}}
      p {{tweet.text}}
      p {{tweet.retweet_count}}