doctype html
html(ng-app="advertisingApp")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    <link href='https://fonts.googleapis.com/css?family=Economica:400,700' rel='stylesheet' type='text/css'>
    script(type='text/javascript', src='./javascripts/jquery.min.js')
    script(type='text/javascript', src='./javascripts/angular/angular.min.js')
    script(type='text/javascript', src='./javascripts/ng-infinite-scroll.js')
    script(type='text/javascript', src='./javascripts/angular/angular-animate.js')
    script(type='text/javascript', src='./client/public/javascripts/app.js')

  body(ng-controller="MainController as mainContent")
    block content

