body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.loginSideBar {
  width: 300px;
  height: 100vh;
  border: 1px solid black;
  float: left;
  margin: -30px 25px 0 -8px;
  padding: 5px;
}

.savedSideBar {
  width: 150px;
  height: 100vh;
  border: 1px solid black;
  float: right;
  margin: -20px -25px 0 20px;
  padding: 5px;
}

.singleTweet {
  height: 175px;
  width: 400px;
  border: 1px solid black;
  padding: 5px;
  margin: 2px 2px 2px 2px;
  float: left

}

.trendingMinneapolis li{
  font-size: 12px;
}

.profilePicture {
  float:left;
  /*margin: 2px;*/
  padding-right: 15px;
}

.tweetList {
  margin-left: 350px;
}