body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #1b212c;

}

a {
  color: #00B7FF;
}

.loginSideBar {
  width: 250px;
  /*height: 100vh;*/
  border: 1px solid black;
  float: left;
  margin: -30px 10px 0 -8px;
  padding: 5px;
  min-height: 100vh;
  position: fixed;
  background-color: #ffffff;
}

.headerContent {
  margin-left: 264px;
}

.mainTweetContent {
  position: absolute;
  margin-left: 250px;
  width: auto;
  z-index: 10;
}

.savedSideBar {
  width: 350px;
  height: 100vh;
  border: 1px solid black;
  float: right;
  margin: -20px -425px 0 5px;
  padding: 5px;

}

.singleTweet {
  height: 175px;
  width: 350px;
  border: 1px solid black;
  padding: 5px;
  margin: 2px 2px 2px 2px;
  float: left;
  background-color: #ffffff;
}

.headerContent {
  color: #ffffff;
}

.trendingMinneapolis li{
  font-size: 12px;
}

.profilePicture {
  float:left;
  /*margin: 2px;*/
  padding-right: 15px;
}

.tweetList {
  margin-left: 264px;
}

.spacer {
  clear: both;
}

.closedSaved {
  margin-right: -15px;
  /*z-index: 100;*/
}

.closedLogin {
  margin-left: -400px;
}

.menuShiftLeft {
  margin-left: 0;
}

.fixRight {
  position: fixed;
  z-index: 20;
}

